<h1>Show Service</h1>
<%= field_set_tag (@service.name) do %>
<p>
  <strong>Name:</strong><br>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @service.description %>
</p>

<p>
  <strong>Service Type:</strong><br>
  <%= @service.service_type %>
</p>
<% end %>

<br>
<%= field_set_tag (@service.name + ' - Properties') do %>
    <% @service.service_properties.ordered_props.each do |prop| %>
        <p>
          <strong><%= get_label(@service.service_type, prop.key) + ':' %></strong><br>
          <% my_prop = $SERVICE_TYPES[@service.service_type][PrismeService::TYPE_PROPS].select {|p| p[PrismeService::TYPE_KEY].eql?(prop.key)}.first %>
          <%= my_prop[PrismeService::TYPE_TYPE].eql?(PrismeService::TYPE_PASSWORD) ? '*****' : prop.value %>
        </p>
    <% end %>
<% end %>
<hr>
<button onclick="location.href='<%= edit_service_path(@service) %>';" class="'btn btn-primary btn-lg" type="button">Edit</button>
<button onclick="location.href='<%= services_path %>';" class="'btn btn-primary btn-lg" type="button">List</button>
