<h1>Show Service</h1>
<p id="notice"><%#= notice %></p>

<p>
  <strong>Name:</strong><br>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @service.description %>
</p>

<p>
  <strong>Service Type:</strong><br>
  <%= @service.service_type %>
</p>
<br>
<%= field_set_tag (@service.description + ' Properties') do %>
    <% @service.service_properties.ordered_props.each do |prop| %>
        <p>
          <strong><%= get_label(@service.service_type, prop.key) + ':' %></strong><br>
          <% my_prop = $SERVICE_TYPES[@service.service_type][PrismeService::TYPE_PROPS].select {|p| p[PrismeService::TYPE_KEY].eql?(prop.key)}.first %>
          <%= my_prop[PrismeService::TYPE_TYPE].eql?(PrismeService::TYPE_PASSWORD) ? '*****' : prop.value %>
        </p>
    <% end %>
<% end %>
<br>
<br>
<%= link_to 'Edit', edit_service_path(@service), class: 'btn btn-primary' %>
<%= link_to 'List', services_path, class: 'btn btn-primary' %>
