<% if @results %>
    <% @results.each do |row|
      request_id = row.id
      domain = row.domain.sub(/\s+/, '')
      table_id = "checksum_#{request_id}_#{domain}"
    %>
        <div class="result_hdr" style="border-left: 3px solid green; padding-left: 5px">
          <%= render partial: 'checksum_discovery_result_table_hdr', locals: {row: row} %>

          <div class="result_table">
            <table class="prisme-table table-hover checksum_table" id="<%= table_id %>" data-domain="<%= domain %>" data-request_id="<%= request_id %>">
              <thead>
              <tr>
                <th scope="col" width="20%">Site</th>
                <th scope="col" width="15%">Subset</th>
                <th scope="col" width="35%" colspan="2">Current Checksum</th>
                <th scope="col" width="25%">Previous Checksum</th>
                <th scope="col" width="5%">Discovery</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: 'checksum_results_tbody', locals: {table_id: table_id, checksum_details: row.checksum_details} %>
              </tbody>
            </table>
    <% end %>
    </div>
    </div>
    <br>
    <br>
<% end %>
