<% if detail&.id %>
    <div style="float: right"><%= detail.discovery_request.username %></div><br>
    <div style="float: right; color: <%= detail.status.eql?('FAILED') ? 'red' : 'green' %>" title="<%= detail.failure_message %>">
      <% if detail.status.eql?('FAILED') %>
          <i class="fa fa-times-circle" aria-hidden="true"></i></a>
      <% elsif detail.status.eql?('RUNNING') %>
          <i class="fa fa-cog fa-spin" aria-hidden="true"></i></a>
      <% end %>
      <%= detail.status %>
    </div><br>
    <div style="float: right"><%= display_time(detail.start_time) %></div><br>
    <div style="float: right"><%= display_time(detail.finish_time) %></div><br>
    <%if detail.hl7_message %>
      <div class="btn-group btn-group-xs" role="group" aria-label="Button group with nested dropdown" data-btngroup_detail_id="<%= detail.id %>" style="float: right" >
        <button id='btn_discovery_csv' type="button" class="btn btn-primary" onclick="discoveryCsv(this);">Export as CSV</button>
        <button id='btn_discovery_diffs' type="button" class="btn btn-info" onclick="discoveryDiffs(this);">Discovery Diffs</button>
        <button id='btn_discovery_hl7' type="button" class="btn btn-primary" data-hl7_message="<%= detail.hl7_message %>" onclick="discovery_hl7_message(this, {tr_id: '<%= tr_id %>', current: <%= current %>});;">View HL7</button>
      </div>
    <% else %>
        <div aria-label="Data is not available" style="float: right; font-weight: bold">HL7 data is not available</div>
    <% end %>
<% else %>
    <span style="color:red">Discovery Data is not available</span>
<% end %>
