<%
  subset = nil
  striped = 'transparent'
  done, req_id = [], nil

  discovery_details.each do |row|
    done << row.done?
    req_id ||= row.discovery_request.id
    last = row.last_discovery

    unless row.subset.eql?(subset)
      subset = row.subset
      striped = (striped.eql?('transparent') ? '#f2f2f2;' : 'transparent')
    end
    tr_id = "#{row.va_site_id}_#{row.id}_#{row.subset.gsub(' ','')}_discovery"
%>
    <tr id="<%= tr_id %>" style="background-color: <%= striped %>">
      <td class="site_name"><%= "#{row.va_site_id} - #{row.va_site.name}" %></td>
      <td class="subset_name"><%= row.subset %></td>
      <td style="text-align: right" width="10%">
        <span style="font-weight: bold">User Name:</span><br>
        <span style="font-weight: bold">Status:</span><br>
        <span style="font-weight: bold">Request Time:</span><br>
        <span style="font-weight: bold">Response Time:</span><br>
        <span style="font-weight: bold">Has Data:</span><br>
      </td>
      <td>
        <%= render partial: 'discovery_display', locals: {tr_id: tr_id, detail: row, current: true} %>
      </td>
      <td>
        <%= render partial: 'discovery_display', locals: {tr_id: tr_id, detail: last, current: false} %>
      </td>
    </tr>
<% end %>
<script type="text/javascript" charset="utf-8">
    var req_tbl = $('#discovery_' + '<%= req_id %>');
    req_tbl.data('done', <%= ! (done.uniq.include? false) %>);
</script>
