<% if @results %>
    <% @results.each do |row|
      request_id = row.id
      domain = row.domain.sub(/\s+/,'')
      table_id = "discovery_#{request_id}_#{domain}"
    %>
        <div class="result_hdr" style="border-left: 3px solid green; padding-left: 5px">
          <%= render partial: 'checksum_discovery_result_table_hdr', locals: {row: row}%>

          <div class="result_table">
            <table class="prisme-table table-hover discovery_table" id="<%= table_id %>" data-domain="<%= domain %>" data-request_id="<%= request_id %>">
              <thead>
              <tr>
                <th scope="col" width="20%">Site</th>
                <th scope="col" width="20%">Subset</th>
                <th scope="col" width="35%" colspan="2">Current Discovery</th>
                <th scope="col" width="25%">Previous Discovery</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: 'discovery_results_tbody', locals: {table_id: table_id, discovery_details: row.discovery_details} %>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <br>
    <% end %>
<% end %>
<a class="tooltipz" title="this is a test to see if the TT is styled..." onclick="greg()">greg</a>
<br>
<div id="myGrid" style="height: 400px;" class="ag-fresh"></div>
<script type="text/javascript" charset="utf-8">
    // specify the columns
    var columnDefs = [
        {headerName: 'VUID', field: 'vuid', width: 90},
        {headerName: 'Designation', field: 'Term'},
        {headerName: 'Allergy Type', field: 'Allergy_Type'},
        {headerName: 'Has Drug Class', field: 'has_drug_class'},
        {headerName: 'Has Drug Ingredient', field: 'has_drug_ingredient', cellRenderer: renderWithTitle},
        {headerName: 'Search Term', field: 'Search_Term'},
        {headerName: 'VistA Mapping Target', field: 'VistA_Mapping_Target'},
        {headerName: 'Status', field: 'Status', valueGetter: getStatus, width: 75 },
    ];

    function renderWithTitle(params) {

        // put a tooltip on the value
        return '<span class="tooltipz" title="' + params.value + '">'+params.value+'</span>';
    }

    function getStatus(params) {
        return params.data.Status === '0' ? 'Inactive' : 'Active';
    }

    function popTitle(elem) {
        $(elem).attr('title', $(elem).text());
        $(elem).tooltip();
    }

    function greg() {
        // let the grid know which columns and what data to use
        var gridOptions = {
            columnDefs: columnDefs,
            rowData: [],
            pagination: true,
            paginationAutoPageSize: true
        };

        $.get(gon.routes.discovery_diffs_path, {discovery_detail_id: 'detail_id'}, function(data) {
            // specify the data
            gridOptions['rowData'] = data['greg'];

            // lookup the container we want the Grid to use
            var eGridDiv = document.getElementById('myGrid');

            // create the grid passing in the div to use together with the columns & data we want to use
            new agGrid.Grid(eGridDiv, gridOptions);
        });
    }
</script>