<% if @user_list.nil? || @user_list.empty? %>
    <%= no_match_row %>
<% else %>
    <% @user_list.each do |user| %>
        <tr valign="top" id="user_row_<%= user.user_row_id %>">
          <td id="user_name_td_<%= user.user_row_id %>"><%= h user.user_name %></td>
          <td><%= last_user_activity(username: user.user_name) %></td>
          <%
            user_roles = []
            role_text = ''
            Roles::ALL_ROLES.each do |role|
              user_roles << role if user.has_role?(role)
              role_text = role_text + "#{role.gui_string}, " if user.has_role?(role)
            end
            role_text = role_text.chop.chop
            unless user.admin_role_check
              role_text = "<em><b>#{role_text}</b></em>"
            end
          %>
          <td class="text-left"><%= raw role_text.empty? ? 'No Roles Assigned' : role_text %></td>
          <td class="text-left">
            <button data-toggle="modal" data-target="#editModal" class="btn btn-primary" onclick='edit_user_roles("<%=user.user_row_id%>", <%= raw JSON.parse(user_roles.to_json) %>);'>
              <i class="fa fa-edit fa-fw" aria-hidden="true"></i>&nbsp;Edit User Roles</button>
            <!-- user cannot delete themselves -->
            <% unless (prisme_user == user) %>
                <button class="btn btn-danger" onclick="delete_user('<%=user.user_row_id%>', '<%= user.user_name %>');">
                  <i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp;Delete User</button>
            <% end %>
          </td>
        </tr>
    <% end %>
<% end %>
