<h1>Edit User Permissions</h1>
<a class="btn btn-primary btn-lg" onclick="document.forms['admin_user_update'].submit()">Update</a>
<br>
<hr>
<%= form_tag admin_user_edit_update_path, :name => 'admin_user_update' do %>
    <table class="prisme-table table-striped table-hover">
      <thead>
      <tr>
        <th width="40%">E-Mail Address</th>
        <th width="20%" style="text-align: center">PRISME<br>Administrator</th>
        <th width="30%">KOMET Roles</th>
        <th width="10%" style="text-align: center">Delete<br>User</th>
      </tr>
      </thead>
      <tbody>
      <% @user_list.each do |user| %>
          <tr valign="top">
            <td><%= h user.email %></td>
            <% is_me = current_user.eql?(user) %>
            <td style="text-align: center">
              <%= check_box_tag 'admin_check_box-' + user.id.to_s, true, user.administrator, {:disabled => is_me, onclick: "toggleText(this.id, this.checked);"} %>
                &nbsp;&nbsp;<span id="<%= 'span_admin_check_box-' + user.id.to_s%>"><%= user.administrator ? 'Yes' : 'No' %></span>
            </td>
            <td style="text-align: left">
              <% Role::KOMET_ROLES.each do |role| %>
                  <%= check_box_tag "cbx_role-#{user.id}-" + role.to_s, true, user.has_role?(role) %>&nbsp;&nbsp;<%= role.to_s %><br>
              <% end %>
            </td>
            <td style="text-align: center"><%= check_box_tag 'delete_check_box-' + user.id.to_s, true, false, :disabled => is_me %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<script>
  <%= render '/ajax_flash.js'  %>

  function toggleText(id, checked) {
    $('#span_'+id).text(checked ? 'Yes' : 'No');
  }
</script>
