<h1>Edit User Permissions</h1>
<fieldset class="classic-border" style="width: 450px">
  <legend class="classic-border">Filter Criteria</legend>
  <%= label_tag 'admin_role_review', 'Admin Role Review' %><br>
  <% o = [['All Users (No Filter Applied)', 'all'], ['New Users Only', false], ['Reviewed Users Only', true]] %>
  <%= select_tag 'admin_role_review', options_for_select(o, selected: session[AdminUserEditHelper::FILTER_GROUP][AdminUserEditHelper::ROLE_REVIEW]), class: 'form-control' %>
  <br>
  <%= label_tag 'user_quick_search', 'User Search' %><br>
  <%= text_field_tag 'user_quick_search', session[AdminUserEditHelper::FILTER_GROUP][AdminUserEditHelper::QUICK_SEARCH], class: 'form-control' %>
</fieldset>
<table class="prisme-table table-striped table-hover" id="user_edit_list_table">
  <thead>
  <tr>
    <th width="30%">User E-Mail/SSOI Login</th>
    <th width="45%">Assigned Roles</th>
    <th width="25%">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr valign="top">
    <td colspan="3" align="center">Loading...Please Wait</td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_submit_form" autofocus>Update User Roles</button>
        <h5 style="padding-top: 5px">User E-Mail/SSOI Login:&nbsp;<strong><span id="edit_user_info_span"></span></strong></h5>
      </div>
      <div class="modal-body scrollable_div">
        <%= form_tag(admin_user_edit_update_user_roles_path, id: 'user_edit_form') do %>
            <input type="hidden" name="user_id_to_edit" id="user_id_to_edit"/>
            <table class="prisme-table table-striped">
              <tbody>
              <tr>
                <td width="30%">
                  <%= role_checkbox(Roles::SUPER_USER) %>
                </td>
                <td width="70%">
                  <p>The <strong>Super User</strong> role allows full access to all features.</p>
                </td>
              </tr>
              <tr>
                <td width="30%">
                  <%= role_checkbox(Roles::ADMINISTRATOR) %>
                </td>
                <td width="70%">
                  <p>The <strong>Administrator</strong> role provides the following functionality:<br>
                  <ul>
                    <li>Create/Modify User Roles</li>
                    <li>Import/Export Terminology Content</li>
                    <li>Create, Deploy and Configure the <%=KOMET_NAME%></li>
                    <li>Manage Workflow - Track and Modify the Current State in Workflow</li>
                    <li>Monitor and Run Standardized Reports</li>
                    <li>Review All User In-boxes</li>
                    <li>Reassign Tasks to Other Users</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td width="30%">
                  <%= role_checkbox(Roles::READ_ONLY) %><br>
                  * All users have Read Only access. This cannot be removed.
                </td>
                <td width="70%">
                  <p>The <strong>Read Only</strong> role provides the following:<br>
                  <ul>
                    <li>Search Terminology, Concepts, and Refsets</li>
                    <li>Run Standardized Reports</li>
                    <li>Track the Current State in a Workflow</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td width="30%">
                  <%= role_checkbox(Roles::EDITOR) %>
                </td>
                <td width="70%">
                  <p>The <strong>Editor</strong> role provides additional functionality to the Read Only role including:<br>
                  <ul>
                    <li>Edit/Add/Retire Terminology, Concepts, and Refsets</li>
                    <li>Send Changes to Reviewer</li>
                    <li>Add Comments</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td width="30%">
                  <%= role_checkbox(Roles::REVIEWER) %>
                </td>
                <td width="70%">
                  <p>The <strong>Reviewer</strong> role provides additional functionality to the Read Only role including:<br>
                  <ul>
                    <li>Send Changes to Approver</li>
                    <li>Add Comments</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td width="30%">
                  <%= role_checkbox(Roles::APPROVER) %>
                </td>
                <td width="70%">
                  <p>The <strong>Approver</strong> role provides additional functionality to the Read Only role including:<br>
                  <ul>
                    <li>Approve New/Modified Terminology, Concepts, and Refsets</li>
                    <li>Reject New/Modified Terminology, Concepts, and Refsets</li>
                    <li>Add Comments to a Rejected Task</li>
                    <li>Update Request Status</li>
                    <li>Publish Approved Request</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td width="30%">
                  <%= role_checkbox(Roles::DEPLOYMENT_MANAGER) %>
                </td>
                <td width="70%">
                  <p>The <strong>Deployment Manager</strong> role provides additional functionality to the Read Only role including:<br>
                  <ul>
                    <li>Deploy approved concepts</li>
                    <li>Create, Deploy, Reject Initial Deployment Packages, Candidate Version Packages and Final Version Packages</li>
                    <li>Display, Request, Validate Pre & Post Deployment Checksums</li>
                    <li>Track current state of workflow</li>
                    <li>Search for workflow instance</li>
                    <li>Modify Deployment Workflow State</li>
                    <li>Link and Unlink Final Versions</li>
                    <li>Run Discovery</li>
                    <li>Select Sites</li>
                    <li>Select Groups</li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function edit_user_roles(edit_user_id, edit_user_current_roles) {
    // update the modal div with the user's current roles for form submission
    $('#user_id_to_edit').val(edit_user_id);
    $('span#edit_user_info_span').text($('td#user_name_td_' + edit_user_id).text());

    // uncheck all of the checkboxes
    $("input:checkbox").prop('checked', false);

    // set the user's current roles for display on the modal window
    $.each(edit_user_current_roles, function (index, value) {
      $("#cbx_" + value).prop('checked', true);
    });
  }

  function delete_user(user_id, user_name) {
    bootbox.confirm({
      size: 'small',
      title: 'Question?',
      message: 'Are you sure you want delete <strong>' + user_name + '</strong>?',
      callback: function (result) {
        if (result) {
          $.getJSON(gon.routes.delete_user_path, {user_row_id: user_id}, function (data) {
            if (data.remove_row === true) {
              $('table#user_edit_list_table tr#user_row_' + user_id).remove();
              // if all rows are removed then insert the no_matches row
              if ($("table#user_edit_list_table > tbody > tr").length === 0) {
                $("table#user_edit_list_table").find('tbody').html('<%= no_match_row %>');
              }
            }
          });
        }
      }
    });
  }

  function check_admin_click(elem) {
    var ret = true;
    var user_id_info = $('#user_id_to_edit').val();
    var user_id_arr = user_id_info.split('_');
    var edit_user_id = Number(user_id_arr[0]);
    var ssoi_user = user_id_arr[1];
    var current_user_id = Number(<%= prisme_user.id %>);
    var is_super_user = <%= prisme_user.has_role? Roles::SUPER_USER %>;
    var edit_user_is_current_user = false;

    if (edit_user_id === current_user_id && ssoi_user === '<%= prisme_user.is_a?(SsoiUser).to_s %>') {
      edit_user_is_current_user = true;
    }

    if (elem.name === 'cbx_super_user') {
      if (edit_user_is_current_user) {
        if (is_super_user) {
          bootbox.alert({
            size: 'small',
            title: 'Warning',
            message: "You cannot remove your 'Super User' privilege!"
          });
        } else {
          bootbox.alert({
            size: 'small',
            title: 'Warning',
            message: "You cannot promote yourself to 'Super User'. Only users with 'Super User' access can promote other users to 'Super User'."
          });
        }
        ret = false;
      } else {
        if (!is_super_user) {
          //the user is an admin trying to promote another user to Super User - a no-no
          bootbox.alert({
            size: 'small',
            title: 'Warning',
            message: "Only users with 'Super User' access can promote other users to 'Super User'."
          });
          ret = false;
        }
      }
    }
    else {
      if (edit_user_is_current_user && !is_super_user) {
        bootbox.alert({
          size: 'small',
          title: 'Warning',
          message: "You cannot remove your 'Administrator' privilege!"
        });
        ret = false;
      }
    }
    return ret;
  }

  function load_table() {
    var admin_role_review = $('#admin_role_review').find('option:selected').val();
    var user_quick_search = $('#user_quick_search').val();
    $.get(gon.routes.load_user_list_path, {user_quick_search: user_quick_search, admin_role_review: admin_role_review}, function (data) {
      $('table#user_edit_list_table').find('tbody').html(data);
    });
  }

  $(function () {
    $('#btn_submit_form').on('click', function () {
      $('#user_edit_form').submit();
    });
    $('#cbx_<%= Roles::SUPER_USER %>').on('click', function () {
      return check_admin_click(this);
    });
    $('#cbx_<%= Roles::ADMINISTRATOR %>').on('click', function () {
      return check_admin_click(this);
    });
    $('#cbx_<%= Roles::READ_ONLY%>').on('click', function () {
      return false;
    });
    $('#admin_role_review').on('change', function () {
      load_table();
    });
    $('#user_quick_search').on('keyup', function (event) {
      var ret = false;
      var c = event.which;
      switch (true) {
        case (event.ctrlKey && (c == 65 || c == 67)): //ctrl+A and ctrl+C
        case (c == 9 || c == 37 || c == 39): //tab and left and right arrow
          return true;
        case (event.ctrlKey && (c == 86 || c == 88)): //ctrl+X and ctrl+V
          ret = true;
          break;
        case (c == 8 || c == 46): //backspace or delete
          ret = true; //need to check against variable value to see if different
          break;
        case (c >= 48 && c <= 57):  //numbers
        case (c >= 96 && c <= 105): //numpad
        case (c == 110 || c == 190):  //decimal pt, and period
          ret = !event.shiftKey;
          break;
        case ((c >= 65 && c <= 90) || c == 189):  //a-z or dash
          ret = true;
          break;
      }

      if (ret) {
        load_table();
      } else {
        event.preventDefault();
      }
    });

    load_table();
  });
</script>
