<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @log_event.hostname %>
</p>

<p>
  <strong>Application name:</strong>
  <%= @log_event.application_name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @log_event.level %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @log_event.tag %>
</p>

<p>
  <strong>Message:</strong>
  <%= @log_event.message %>
</p>

<p>
  <strong>Acknowledged by:</strong>
  <%= @log_event.acknowledged_by %>
</p>

<p>
  <strong>Acknowledged on:</strong>
  <%= @log_event.acknowledged_on %>
</p>

<p>
  <strong>Ack comment:</strong>
  <%= @log_event.ack_comment %>
</p>

<%= link_to 'Edit', edit_log_event_path(@log_event) %> |
<%= link_to 'Back', log_events_path %>
