<div id="<%= deployment[:service_id] %>">
  <h4>Service Name:&nbsp;&nbsp;<%= deployment[:service_name] %></h4>
  <table class="table data-table table-striped table-hover">
    <thead>
    <tr>
      <td>Application</td>
      <td>State</td>
      <td>Session Count</td>
      <td>Version</td>
      <td>Actions (Start/Stop/Undeploy)</td>
    </tr>
    </thead>
    <tbody>
    <% if deployment[:rows].empty? %>
        <tr>
          <td colspan="5" style="color: <%= deployment[:available] ? 'green' : 'red' %>">
            <%= (deployment[:available] ?
                'No supported applications are currently deployed to this server' :
                'Failed to connect to Tomcat server. Either the server is unavailable or is mis-configured.') %>
          </td>
        </tr>
    <% else %>
        <% deployment[:rows].each do |row| %>
            <tr>
              <td data-href="<%= row[:link] %>"><%= row[:war_name] %></td>
              <td data-href="<%= row[:link] %>"><%= row[:state] %></td>
              <td data-href="<%= row[:link] %>"><%= row[:session_count] %></td>
              <td data-href="<%= row[:link] %>"><%= row[:version] %></td>
              <td <%= raw(policy(:navigation).admin? ? '' : 'style="color: red; font-weight: bold"') %>>
                <%= policy(:navigation).admin? ? action_button_bar(row, deployment[:service_id]) : 'Requires Administrator Privileges' %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function () {
    $('td[data-href]').on("click", function () {
      window.open($(this).data('href'));
    });
  });

  function tomcat_app(tomcat_service_id, action, app) {
    $.ajax({
      url: gon.routes.welcome_tomcat_app_action_path,
      type: 'GET',
      data: {tomcat_service_id: tomcat_service_id, tomcat_action: action, tomcat_app: app},
      success: function (data) {
        $("#tp-deployments").html(data)
      }
    });
  }
</script>
