<div id="<%= deployment[:service_id] %>">

  <table class="prisme-table table-striped table-hover">
    <caption title='<%= deployment[:service_desc] %>'>Service Name:&nbsp;&nbsp;<%= deployment[:service_name] %></caption>
    <thead>
    <tr>
      <th scope="col" width="50%">Application</th>
      <th scope="col" width="10%">State</th>
      <th scope="col" width="10%">Session Count</th>
      <th scope="col" width="10%">Version</th>
      <th scope="col" width="20%">Actions (Start/Stop/Undeploy)</th>
    </tr>
    </thead>
    <tbody>
    <% if deployment[:rows].empty? %>
        <tr>
          <td colspan="5" style="color: <%= deployment[:available] ? 'green' : 'red' %>">
            <%= (deployment[:available] ?
                'No supported applications are currently deployed to this server' :
                'Failed to connect to Tomcat server. Either the server is unavailable or is mis-configured.') %>
          </td>
        </tr>
    <% else %>
        <% deployment[:rows].each do |row| %>
            <tr>
              <td<%= raw(row[:state].eql?('running') ? " data-href='#{row[:link]}'" : '') %>><%= row[:war_name] %></td>
              <td><%= row[:state] %></td>
              <td><%= row[:session_count] %></td>
              <td><%= row[:version] %>
                <% if row[:isaac] && !row[:version].eql?('UNKNOWN') %>
                    <div class="prismetooltip" style="float: right">
                      <span class="fa fa-info-circle"></span>
                      <span class="tooltiptext">
                        Isaac Database
                        <% $log.debug("isaac database data row = #{row[:isaac].inspect}") %>
                        <ul>
                          <li>artifact ID: <%= row[:isaac][:database]['artifactId'].to_s %></li>
                          <li>version: <%= row[:isaac][:database]['version'].to_s %></li>
                          <%= raw "<li>classifier: #{row[:isaac][:database]['classifier'].to_s}</li>" unless row[:isaac][:database]['classifier'].to_s.empty? %>

                        </ul>
                        <hr>
                        Database Dependencies
                        <% row[:isaac][:database_dependencies].each do |d| %>
                            <ul>
                              <li>artifact ID: <%= d['artifactId'].to_s %></li>
                              <li>version: <%= d['version'].to_s %></li>
                              <%= raw "<li>classifier: #{d['classifier'].to_s}</li>" unless d['classifier'].to_s.empty? %>
                            </ul>
                            <hr>
                        <% end %>
                        </span>
                    </div>
                <% else %>
                <% end %>

              </td>
              <td<%= raw(policy(:navigation).admin? ? '' : ' style="color: red; font-weight: bold"') %>>
                <%= (policy(:navigation).admin?) ? action_button_bar(row, deployment[:service_id]) : 'Requires Super User Privileges' %>
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
