<div id="<%= deployment[:service_id] %>">
  <% colspan = policy(:navigation).admin? ? 6 : 5 %>
  <table class="prisme-table table-striped table-hover">
    <caption title='<%= deployment[:service_desc] %>'>Service
      Name:&nbsp;&nbsp;<%= deployment[:service_name] %></caption>
    <thead>
    <tr>
      <th scope="col" width="15%">Application</th>
      <th scope="col">Application Name</th>
      <th scope="col" width="10%">Version</th>
      <th scope="col" width="10%">State</th>
      <th scope="col" width="10%">Session Count</th>
      <% if policy(:navigation).admin? %>
          <th scope="col" width="20%">Actions (Start/Stop/Undeploy)</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% if deployment[:rows].empty? %>
        <tr>
          <td colspan="<%= colspan %>" style="color: <%= deployment[:available] ? 'green' : '#180606' %>">
            <%= (deployment[:available] ?
                'No supported applications are currently deployed to this server' :
                'Failed to connect to Tomcat server. Either the server is unavailable or is mis-configured.') %>
          </td>
        </tr>
    <% else %>
        <% deployment[:rows].each do |row| %>
            <tr>
              <td <%= raw(row[:state].eql?('running') ? " data-href='#{row[:link]}'" : '') %>>
                <span class="<%= row[:state].eql?('running') ? 'btn btn-primary' : 'not-running' %>"><%= row[:war_name] %></span>
              </td>
              <td>
                <% if row[:war_uuid] %>
                    <% if row[:uuid_name] %>
                        <% if row[:isaac_war_uuid] %>
                            <%= row[:uuid_name] %> --> <%= row[:isaac_war_name] %>
                        <% else %>
                            <%= row[:uuid_name] %>
                        <% end %>
                        <button class="btn btn-default btn-sm" style="float: right" id="<%= row[:war_uuid] %>" onclick="greg(this)">Rename</button>
                    <% else %>
                        <button class="btn btn-default btn-sm" style="float: right" id="<%= row[:war_uuid] %>" onclick="greg(this)">Name</button>
                    <% end %>
                <% else %>
                    N/A
                <% end %>
              </td>
              <td>
                <%= row[:version] %>
                <%#= row[:war_uuid] %><%#= row[:uuid_name] %>
                <%#= "isaac uuid = #{row[:isaac_war_uuid]}" if row[:isaac_war_uuid]%>
                <%#= "isaac name = #{row[:isaac_war_name]}" if row[:isaac_war_name]%>
                <% if row[:isaac] && !row[:version].eql?('UNKNOWN') %>
                    <div class="prismetooltip" style="float: left">
                      <span class="fa fa-info-circle">&nbsp;&nbsp;</span>
                      <span class="tooltiptext">
                        <span style="font-weight: bold; color: navy">Isaac Database <%= fetch_komets_isaac(row: row) %></span>
                        <ul>
                          <li><%= row[:isaac][:database]['artifactId'].to_s rescue 'Unknown' %>&nbsp;version:&nbsp;<%= row[:isaac][:database]['version'].to_s rescue 'Unknown' %>&nbsp;<%= raw "Classifier: #{row[:isaac][:database]['classifier'].to_s}" unless (row[:isaac][:database].nil? || row[:isaac][:database]['classifier'].to_s.empty?) %></li>
                        </ul>
                        <% unless row[:isaac][:database_dependencies].nil? %>
                            <span style="font-weight: bold; color: navy">Database Dependencies</span>
                            <ol>
                            <% row[:isaac][:database_dependencies].each do |d| %>
                              <li>Artifact:&nbsp;<%= d['artifactId'].to_s %>&nbsp;&nbsp;Version: <%= d['version'].to_s %>&nbsp;&nbsp;<%= raw "Classifier: #{d['classifier'].to_s}" unless d['classifier'].to_s.empty? %></li>
                            <% end %>
                            </ol>
                        <% end %>
                        </span>
                    </div>
                <% end %>
              </td>
              <td><%= row[:state] %></td>
              <td><%= row[:session_count] %></td>
              <% if policy(:navigation).admin? %>
                  <td>
                    <%= action_button_bar(row, deployment[:service_id]) %>
                  </td>
              <% end %>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div id="warNameModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_submit_form">Rename Application</button>
      </div>
      <div class="modal-body" style="overflow:auto; max-height: 70vh;"><!-- style is for scrollable div -->
        <label for="war_name">Application Name</label>
        <input type="text" name="war_name" id="war_name"/>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    function greg(elem) {
        input = $('#war_name');
        input.val('greg');
        input.data('uuid', elem.id);
        $('#warNameModal').modal('toggle');
//        alert(elem.id);
    }
</script>