<p id="notice"><%= notice %></p>

<h1>Terminology Source Uploads</h1>

<table>
  <thead>
    <tr>
      <th>Db description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terminology_source.each do |terminology_source_content| %>
      <tr>
        <td><%= terminology_source_content.user %></td>
        <td><%= link_to 'Show', terminology_source_content %></td>
        <td><%= link_to 'Edit', edit_terminology_source_content_path(terminology_source_content) %></td>
        <td><%= link_to 'Destroy', terminology_source_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Isaac database', new_terminology_source_content_path %>
