<% return if converter_options.empty? %>

<script>
  function set_options(_id, options) {
    $('#' + _id).select2(options);
  }
</script>

<% converter_options.each do |dd| %>
    <br>
    <br>
    <label for="<%= dd[:internal_name] %>"
           title="<%= dd[:description] %>">
      <%= dd[:display_name] %>
    </label><br>
    <select id="<%= dd[:internal_name] %>"
            name="<%= dd[:internal_name] %>"
            title="<%= dd[:description] %>"
            <%= dd[:allow_multi_select] ? ' multiple' : '' %>
            <%= dd[:allow_no_selection] ? '' : ' required' %> >
      <option value=''></option>

      <% dd[:suggested_pick_list_values].each do |option| %>
          <option title="<%= option[:suggested_description] %>" value="<%= option[:suggested_value] %>"><%= option[:suggested_description] %></option>
      <% end %>
      <script>
        var options = {
          theme: "bootstrap",
          width: '500px',
          placeholder: "<%= dd[:display_name]%>. This is <%= dd[:allow_no_selection] ? 'not' : ''%> required.",
          multiple: <%= dd[:allow_multi_select] %>,
          tags: true,
          allowClear: true
        };
        set_options('<%= dd[:internal_name]%>', options)
      </script>
    </select>
<% end %>
