<!-- Trigger the modal with a button -->
<br>
<button type="button" class="btn btn-lg five-compliance" data-toggle="modal" data-target="#myModal" onclick="reset_form();">Create Terminology Conversion</button>

<div class="page-header">
  <h1>Terminology Converter Dashboard</h1>
</div>
<%
  locals = {}
  fields = {}
  fields['job_name'] = 'Job Name'
  fields['started_at'] = 'Started At'
  fields['user'] = 'User Name'
  fields['leaf_data.jenkins_job_name'] = 'Jenkins Build Name'
  fields['leaf_data.jenkins_attempt_number'] = 'Attempts'
  fields['leaf_data.jenkins_build_result'] = 'Build Result'
  fields['leaf_data.completed_at'] = 'Last Check /<br>Completed At'
  fields['leaf_data.elapsed_time'] = 'Elapsed Time'
  fields['leaf_data.jenkins_job_deleted'] = 'Jenkins Job<br>Deleted?'
  locals['fields'] = fields
  locals['poll_key'] = 'polling.pollEnum.CONVERTER'
  locals['poll_route'] = 'gon.routes.terminology_converter_load_build_data_path'
%>

<%= render 'layouts/filter_table_poll_results', filter_id: 'tc_filter_rows', filter_label: 'Filter Results', include_all_rows: true, poller: locals['poll_key'] %>

<%= render 'jenkins_check_build/job_data_table', locals: locals %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
        <h2 class="modal-title">Terminology Conversion Request</h2>
      </div>
      <div class="modal-body">
        <%= form_tag(terminology_converter_request_build_url, id: 'myForm') do %>
            <%= label_tag 'terminology_source', 'Terminology Source' %><br>
            <%= select_tag 'terminology_source',
                           options_from_collection_for_select(@sources, :option_key, :option_value),
                           :class => 'select2-prisme',
                           :include_blank => true,
                           :data => {ph: 'Select the Terminology Source',
                                     w: '500px',
                                     single_select: true
                           },
                           :onchange => 'term_source_change(this.value)',
                           required: true
            %>
            <br>
            <br>
            <div id="term_source_details_div"></div>
        <% end %>
        <div id="term_source_actions_div" class="modal-footer">
          <button class="btn btn-primary btn-lg" onclick="submitPackage()" id="btn_submit">Submit Conversion Request</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function submitPackage() {
        var $btnSubmit = $("#btn_submit");
        $btnSubmit.attr('disabled', true);

        if ($btnSubmit.hasClass('processing')) {
            return false;
        } else {
            $btnSubmit.addClass('processing');
        }

        var $myForm = $('#myForm');
        if ($myForm.valid()) {
            $btnSubmit.html('<span><i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i>Processing Request...Please Wait</span>');
            $myForm.submit();
        } else {
            console.log("validation errors so re-enabling button...");
            $btnSubmit.attr('disabled', false);
            $btnSubmit.removeClass('processing');
        }
    }

    function term_source_change(val) {
        $('#term_source_actions_div').hide();
        if (val.length === 0) {
            reset_form(true);
            return false;
        }

        $.ajax({
            url: gon.routes.terminology_converter_term_source_change_path,
            type: "GET",
            data: {term_source: val},
            success: function (data) {
                $('#term_source_details_div').html(data);
            }
        });
    }

    function reset_form(term_source_change) {
        if (term_source_change !== true) {
            $('#terminology_source').find('option[value=""]').prop('selected', 'selected').change();
        }
        $('#term_source_details_div').html('');
        $('#term_source_actions_div').hide();
    }

    $(document).ready(function () {
        // call init_select2 to initialize all select inputs to use the select2 js library
        init_select2();

        // initialize the jquery validation plugin
        $('#myForm').validate({
            errorPlacement: function (error, element) {
                var lbl = $("label[for='" + element.attr('id') + "']");
                error.addClass('arrow_box');
                error.insertAfter(lbl);
            }
        });
    });
</script>
