<h1>Terminology Converter</h1>

<%= form_tag :controller => 'terminology_converter', :action => :process_form do |f| %>
    <%= label_tag 'terminology_source', 'Terminology Source' %><br>
    <%= select_tag "terminology_source", options_from_collection_for_select(@options, :get_key, :get_value), :include_blank => '<-- Select the Terminology Source -->' %>
    <br>
    <br>
    <%= label_tag 'terminology_converter', 'Terminology Converter' %><br>
    <% converters = [['snomed', 'snomed'], ['vhat', 'vhat']] %>
    <%= submit_tag "Submit", data: { disable_with: "Please wait..." }%>
<% end %>
