<style>
  .appDeployer_caption {
    color: #000000;
    font-size: large;
  }
</style>

<%= render('layouts/filter_table_poll_results', filter_id: 'deploy_filter_rows', filter_label: 'Filter Results', include_all_rows: false, poller: locals['poll_key']) %>

<table id="<%= locals['tableId'] %>" class="prisme-table table-striped table-hover" aria-labelledby="caption">
  <caption id="appdepcaption" class="appDeployer_caption">Application Deployments</caption>
  <thead>
  <tr>
    <% locals['fields'].keys.each do |col| %>
        <% if col.eql?('leaf_data.running_msg') %>
            <th><%= raw locals['fields'][col] %></th>
        <% else %>
            <th width="230px"><%= raw locals['fields'][col] %></th>
        <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="<%= locals['fields'].keys.length.to_s %>" class="text-center">There are no items to list...</td>
  </tr>
  </tbody>
</table>
<br/>

<script>
    function loadTable(data) {
        var tableId = '<%= locals['tableId'] %>';
        var fields = <%= raw locals['fields'].to_json %>;
        var tbody = $('#' + tableId).find('tbody'); //table id needs to be generic as local
        tbody.empty();

        if (data.length > 0) {
            $.each(data, function (index, row) {
                var tr_data = $('<tr>');

                $.each(fields, function (key, value) {
                    var td_data = $('<td>');
                    if (key === 'started_at') {
                        td_data.text(format_epoch_in_local(row.started_at));
                    }
                    else if (key === 'leaf_data.completed_at') {
                        td_data.text(format_epoch_in_local(row.completed_at));
                    }
                    else if (key === 'leaf_data.running_msg') {
                        var span = $('<span>');
                        var t = '';

                        if (row['leaf_data'].running == true) {
                            t += '<i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i>';
                        }
                        if (row['leaf_data'].tooltip !== '') {
                            span.attr('title', row['leaf_data'].tooltip);
                            span.attr('data-toggle', 'tooltip');
                        }
                        t += row['leaf_data'].running_msg;

                        span.html(t);
                        td_data.html(span);
                    }
                    else {
                        td_data.html(eval('row.' + key));
                    }
                    tr_data.append(td_data);
                });
                tbody.append(tr_data);
            });
        }
        else {
            var rows = '<tr><td colspan="<%= locals['fields'].keys.length.to_s %>" class="text-center">There are no items to list...</td></tr>';
            $('#' + tableId + ' tbody').html(rows);
        }
    }

    $(document).ready(function () {
        //register for polling
        var poller = new Poller('<%= locals['poll_key'] %>', 5000, <%= locals['poll_route'] %>, filterRowLimit, loadTable);
        PollMgr.registerPoller(poller);

        $('span').tooltip({
            'selector': '',
            'placement': 'bottom',
            'container':'body'
        });
    });
</script>
