<!-- Trigger the modal with a button -->
<br>
<button type="button" class="btn five-compliance btn-lg" data-toggle="modal" data-target="#app_deploy_modal" onclick="reset_form();">New Application Deployment</button>
<div class="page-header">
  <h1>Application Deployer</h1>
</div>

<%
  locals = {}
  fields = {}
  fields['job_name'] = 'Job Name'
  fields['started_at'] = 'Started At'
  fields['user'] = 'User Name'
  fields['leaf_data.running_msg'] = 'Current Result'
  fields['leaf_data.completed_at'] = 'Last Check /<br>Completed At'
  fields['leaf_data.elapsed_time'] = 'Elapsed Time'
  locals['fields'] = fields
  locals['poll_function_name'] = 'reload_deployments'
  locals['poll_key'] = 'polling.pollEnum.DEPLOYER'
  locals['poll_route'] = 'gon.routes.app_deployer_reload_deployments_path'
  locals['check_poll_route'] = 'gon.routes.app_deployer_check_polling_path'
%>

<%= render 'app_deployer/app_deploments_table', locals: locals %>

<!-- Modal -->
<div id="app_deploy_modal" class="modal fade modal-wide75" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="1">&times;</button>
        <h3 class="modal-title">Application Deployer</h3>
      </div>
      <div class="modal-body">
        <%= form_tag(app_deployer_deploy_app_path, :id => 'app_deployer_form') do |f| %>
            <h3>Select the Application Type</h3>
            <%= field_set_tag 'Select the Application Type' do %>
                <%= label_tag 'application_KOMET', class: 'radio-inline' do %>
                    <%= radio_button_tag 'application', 'KOMET', true %><%= KOMET_NAME %> Tooling Deployment
                <% end %>
                <br/>
                <%= label_tag 'application_ISAAC', class: 'radio-inline' do %>
                    <%= radio_button_tag 'application', 'ISAAC' %>ISAAC Deployment
                <% end %>
            <% end %>

            <h3>Select the Application Components</h3>
            <%= field_set_tag 'Select the Application Components for Deployment to Tomcat' do %>
                <div id="komet_wars">
                  <%= label_tag 'komet_war', "#{KOMET_NAME} Tooling Version to Use" %><br>
                  <%= select_tag 'komet_war', options_from_collection_for_select(@komet_wars, 'option_key', 'option_value'), {:prompt => '-- Select a war to deploy --', tabindex: 3} %>
                  <br>
                  <br>
                  <%= label_tag 'tomcat_isaac_rest', 'ISAAC Rest Version to Use' %><br>
                  <%= select_tag 'tomcat_isaac_rest', options_for_select([]), {:prompt => '-- Select an ISAAC Rest Instance --', tabindex: 3} %>
                </div>
                <div id="isaac_wars">
                  <%= label_tag 'isaac_war', 'ISAAC Rest Version to Use' %><br>
                  <%= select_tag 'isaac_war', options_from_collection_for_select(@isaac_wars, 'option_key', 'option_value'), {:prompt => '-- Select a war to deploy --', tabindex: 3} %>
                  <br>
                  <br>
                  <%= label_tag 'isaac_db', 'ISAAC Database Version to Use' %><br>
                  <%= select_tag 'isaac_db', options_for_select([]), {:prompt => '-- Select a terminology database --', tabindex: 3} %>
                </div>
                <br>
            <% end %>

            <h3>Select the Tomcat Server</h3>
            <%= field_set_tag 'Select the Tomcat Server to Host this Deployment' do %>
                <div id="komet_app_server">
                  <%= label_tag 'tomcat_komet_app_server', 'Tomcat Server to Deploy to:' %><br>
                  <%= select_tag 'tomcat_komet_app_server', options_from_collection_for_select(@tomcat_servers.map do |e|
                    e[:tomcat_ar]
                  end.uniq, 'select_key', 'select_value'), {:prompt => '--- Select the Tomcat Server  ---', required: true, tabindex: 3 } %>
                </div>
                <div id="isaac_app_server">
                  <%= label_tag 'tomcat_isaac_app_server', 'Tomcat Server / Context to Deploy to:' %><br>
                  <%= select_tag 'tomcat_isaac_app_server', options_from_collection_for_select(@tomcat_servers, 'select_key', 'select_value'), {:prompt => '---  Select the Tomcat Server / ISAAC Context  ---', required: true, tabindex: 3} %>
                </div>
            <% end %>

            <h3>Submit Deployment Request</h3>
            <%= field_set_tag 'Application Deployment Summary' do %>
                <span style="float: right; font-weight: bold; font-size: medium" id="appContextValidation"></span>
                <p>Please review the information below before submitting the deployment request.</p>
                <section>
                  <h4 class="text-italic text-underline">Application to Deploy</h4>
                  <div id="summary_application" class="app_deployer"></div>
                  <h4 class="text-italic text-underline">Application Components</h4>
                  <div id="summary_component" class="app_deployer"></div>
                  <h4 class="text-italic text-underline">Tomcat Server</h4>
                  <div id="summary_tomcat" class="app_deployer"></div>
                  <div id="application_name_desc" style="width: 500px">
                    <%= label_tag 'application_name', 'Application Name:' %><br>
                    <%= text_field_tag 'application_name', nil, placeholder: 'Enter an Application Name', maxlength: 45, size: 45, class: 'form-control', required: true, tabindex: 3 %>
                    <br>
                    <%= label_tag 'application_description', 'Application Description:' %><br>
                    <textarea id="application_description" name="application_description" aria-labelledby="application_description" placeholder="Please describe this application deployment." cols="500" rows="3" class="form-control" tabindex="3"></textarea>
                  </div>
                </section>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    var selected_app_type = null;
    var finish_btn_selector = '#app_deployer_form > div.actions.clearfix > ul > li:nth-child(3) > a';

    function reset_form() {
        $("#app_deployer_form").steps("destroy");
        init_wizard();
    }

    $(document).ready(function () {
        init_wizard();
        $('#app_deployer_form').find('select').addClass('form-control').css('width', '500px');
        $('#application_description').val('');//IE Blows!!! - placeholder fix!

        //508 tab on Modal
        $(document).on('shown.bs.modal', '#app_deploy_modal', function(e) {
            e.preventDefault();
            var previousElement;
            setTabOrderForAppDeployModal(e);
        });

        //508 making rest of page tabbable again
        $(document).on('hidden.bs.modal', '#app_deploy_modal', function(){
            $('a, button, select').each(function(){
                var $this = $(this);
                if (!$this.closest('#siteSelectionModal').length) {
                    $this.removeAttr('tabIndex');
                }
            });
        });
    });

    function reload_dropdown(id, default_option) {
        var dropdown = $('#' + id);
        dropdown.empty();
        dropdown.append($('<option>', {value: "", text: '-- Loading. Please Wait --'},'</option>'));

        $.get(gon.routes.reload_app_deployer_dropdown_path, {dropdown_name: id}, function(data) {
            dropdown.empty();
            dropdown.append($('<option>', {value: "", text: default_option},'</option>'));

            $.each(data, function (index, item) {
                    dropdown.append(
                        $('<option>', {
                            value: item.select_key,
                            text: item.select_value
                        }, '</option>'))
                }
            )
        });
    }

    function init_wizard() {
        var form = $('#app_deployer_form');
        form.show();
        form.steps({
            headerTag: "h3",
            bodyTag: "fieldset",
            transitionEffect: "fade",
            saveState: true,
            onStepChanging: function (event, currentIndex, newIndex) {
                var appName = $('#application_name');

                if (newIndex !== 3) {
                    if (appName.val().trim().length === 0) {
                        appName.val('...'); //KEEP THIS!! IE blows and we need to do this to fix validations if the user clicks previous after not entering the app name
                    }
                }
                // Always allow previous action even if the current form is not valid!
                if (currentIndex > newIndex) {
                    return true;
                }

                //check if the current form entries are valid
                var valid = form.valid();

                if (newIndex === 1) {
                    //get the selected radio button for the application to deploy
                    selected_app_type = $("input[name=application]:checked").val();

                    if (selected_app_type === 'KOMET') {
                        $('#komet_wars').show();
                        $('#isaac_wars').hide();
                        $('#komet_app_server').show();
                        $('#isaac_app_server').hide();
                        document.getElementById("komet_war").required = true;
                        document.getElementById("tomcat_isaac_rest").required = true;
                        document.getElementById("tomcat_komet_app_server").required = true;
                        document.getElementById("isaac_war").required = false;
                        document.getElementById("isaac_db").required = false;
                        document.getElementById("tomcat_isaac_app_server").required = false;

                        // reload the tomcat_isaac_rest dropdown
                        reload_dropdown('tomcat_isaac_rest', '-- Select an ISAAC Rest Instance --');
                    }
                    else {
                        $('#komet_wars').hide();
                        $('#isaac_wars').show();
                        $('#komet_app_server').hide();
                        $('#isaac_app_server').show();
                        document.getElementById("komet_war").required = false;
                        document.getElementById("tomcat_isaac_rest").required = false;
                        document.getElementById("tomcat_komet_app_server").required = false;
                        document.getElementById("isaac_war").required = true;
                        document.getElementById("isaac_db").required = true;
                        document.getElementById("tomcat_isaac_app_server").required = true;

                        // reload the isaac_dbs dropdown
                        reload_dropdown('isaac_db', '-- Select an ISAAC terminology database--');
                    }
                    document.getElementById("komet_war").value = '';
                    document.getElementById("tomcat_isaac_rest").value = '';
                    document.getElementById("isaac_war").value = '';
                    document.getElementById("isaac_db").value = '';
                }
                if (newIndex === 3) {
                    if (valid) {
                        if (appName.val() === '...') {
                            appName.val('');
                        }
                        $('#application_description').val('');
                        var tomcat, app_context, req_params;

                        if (selected_app_type === 'KOMET') {
                            //check to see if there is a komet with the same context deployed to this server
                            var komet = $("#komet_war").find("option:selected");
                            var komet_key = komet.val().split('|');
                            app_context = komet_key[1] + '_' + komet_key[4];
                            var app_label = komet.text();
                            tomcat = $("#tomcat_komet_app_server").find("option:selected");
                            req_params = {app_context: app_context, app_label: app_label, tomcat_id: tomcat.val()}
                        } else {
                            //check to see if there is an ISAAC with the same context deployed to this server
                            tomcat = $("#tomcat_isaac_app_server").find("option:selected");
                            app_context = tomcat.val().split('|')[1];
                            req_params = {app_context: app_context, app_label: app_context, tomcat_id: tomcat.val().split('|')[0]}
                        }

                        //hide the action bar until the ajax call to validate the application context is complete
                        var $actionBar = $('#app_deployer_form').find('div.actions.clearfix');
                        $actionBar.hide();

                        //update the validator message text
                        var appContextMsg = '<i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i>&nbsp;Validating application context deployment...Please wait';
                        $('#appContextValidation').html(appContextMsg).css('color', 'navy');

                        //make an ajax call to validate the application deployment
                        $.ajax({
                            url: gon.routes.app_context_warning_path,
                            type: 'GET',
                            data: req_params,
                            success: function (data) {
                                $actionBar.fadeIn(500);
                                $('#appContextValidation')
                                    .css('color', data.text_color)
                                    .html(data.message);
                            }
                        });
                    }
                }
                return valid;
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                var step_ul = $('<ul>');
                var component1 = '';
                var component2 = '';

                if (currentIndex === 1) {
                    var id = $("input[name=application]:checked").attr('id');
                    var application_type = $("label[for='" + id + "']").text();
                    step_ul.append($('<li>').text(application_type));
                    $("#summary_application").html(step_ul);
                }
                if (currentIndex === 2) {
                    if (selected_app_type === 'KOMET') {
                        component1 = $("#komet_war").find("option:selected").text();
                        component2 = $("#tomcat_isaac_rest").find("option:selected").text();
                    }
                    else {
                        component1 = $("#isaac_war").find("option:selected").text();
                        component2 = $("#isaac_db").find("option:selected").text();
                    }
                    step_ul.append($('<li>').text(component1)).append($('<li>').text(component2));
                    $("#summary_component").html(step_ul);
                }
                if (currentIndex === 3) {
                    var tomcat = '';
                    if (selected_app_type === 'KOMET') {
                        tomcat = $("#tomcat_komet_app_server").find("option:selected").text();
                    } else {
                        tomcat = $("#tomcat_isaac_app_server").find("option:selected").text();
                    }
                    step_ul.append($('<li>').text(tomcat));
                    $("#summary_tomcat").html(step_ul);
                }
            }
            ,
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            }
            ,
            onFinished: function (event, currentIndex) {
                // prevent double submits
                var btnFinish = $(finish_btn_selector);
                if (btnFinish.hasClass('valid-submit')) {
                    return false;
                } else {
                    btnFinish.attr('disabled', true).addClass('btn btn-primary valid-submit');
                    $("li > a[href$='#previous']").hide();
                }

                form.attr('action', '<%= app_deployer_deploy_app_path %>');
                form.attr('method', 'post');
                form.submit();
                setTimeout(function () {
                    $('#app_deploy_modal').modal('toggle');
                    flash_notify({message: 'The deployment request was received successfully!'}, {type: 'success'});
                }, 4000);
            }
        }).validate({
            errorPlacement: function errorPlacement(error, element) {
                var lbl = $(element)
                    .closest("form")
                    .find("label[for='" + element.attr("id") + "']");
                error.addClass('arrow_box');
                error.insertAfter(lbl);
            }
        });
    }
</script>
