<div>
  <label for="<%= filter_id %>"><%= filter_label %>:&nbsp;&nbsp;</label>
  <select id="<%= filter_id %>">
    <option value="15">15 Rows</option>
    <option value="30">30 Rows</option>
    <option value="45">45 Rows</option>
    <option value="60">60 Rows</option>
    <% if include_all_rows %>
        <option value="999999">All Rows</option>
    <% end %>
  </select>
</div>
<script>
  function filterRowLimit() {
      var row_limit = $('#<%=filter_id%>').find('option:selected').val();
      return {row_limit: row_limit};
  }

  $('#<%=filter_id%>').change(function () {
      PollMgr.execPoll('<%= poller %>');
  });
</script>
