<div>
  <label for="<%= filter_id %>"><%= filter_label %>:&nbsp;&nbsp;</label>
  <select id="<%= filter_id %>">
    <option value="15">15 Rows</option>
    <option value="30">30 Rows</option>
    <option value="45">45 Rows</option>
    <option value="60">60 Rows</option>
    <% if include_all_rows %>
        <option value="999999">All Rows</option>
    <% end %>
  </select>
</div>
<script>
  var $filter = $('#<%=filter_id%>');
  $filter.change(function () {
    var fnstring = "<%= poll %>";
    var fnparams = [$filter.find('option:selected').val()];
    var fn = window[fnstring];

    // is object a function?
    if (typeof fn === "function") {
      fn.apply(null, fnparams);
    }
  });
</script>
