<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">PRISME</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li>
        <a href="<%= root_path %>"><span class="glyphicon glyphicon-home" onclick="polling.checkPolling('welcome');"></span></a>
      </li>
      <% if policy(:navigation).registered? %>
          <li><a href="<%= terminology_converter_path %>" onclick="polling.checkPolling('converter');">Terminology Converter</a></li>
          <li><a href="<%= app_deployer_path %>" onclick="polling.checkPolling('deployer');">App Deployer</a></li>
      <% end %>
      <li><a href="#" onclick="checkPolling('db_builder');">DB Builder</a></li>
      <li><a href="<%= prisme_job_queue_list_path %>" onclick="polling.checkPolling('job_queue');">Job Queue Listing</a></li>
      <% if policy(:navigation).admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%= services_path %>" onclick="polling.checkPolling('services');">Service Provisioning</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
      <% end %>

      <li>
        <% if current_user.nil? %>
            <a href="<%= new_user_session_path %>" onclick="polling.checkPolling('logIn');">Log in</a>
        <% else %>
            <a href="<%= destroy_user_session_path %>" onclick="polling.checkPolling('logOut');">Log out</a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
