<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<nav class="prisme-navbar" role="navigation">
  <!-- Brand and toggle menu display -->
  <div class="prisme-navbar-header" role="navigation">
    <a href="<%= root_path %>" onclick="polling.checkPolling(polling.pollEnum.WELCOME_CONTROLLER);" title="Home">
      <div class="prisme-logo-prisme" aria-label="PRISME Home" title="PRISME Home">
        <span class="glyphicon glyphicon-home" style="padding-right: 10px;"></span><%= PRISME_NAME %>
      </div>
    </a>
  </div>
  <div class="prisme-navbar-navigation" role="navigation">

    <% if policy(:navigation).can_deploy? %>
        <div class="dropdown" role="presentation">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Deployment Tools">Deployment Tools<span class="caret"></span></a>

          <ul class="dropdown-menu" aria-hidden="true" aria-label="Checksum">
            <li role="menuitem">
              <a href="<%= checksum_path %>" onclick="polling.checkPolling(polling.pollEnum.CHECKSUM);" title="Terminology Checksum">
                Checksum
              </a>
            </li>
            <li role="menuitem">
              <a href="<%= discovery_path %>" onclick="polling.checkPolling(polling.pollEnum.DISCOVERY);" title="Terminology Discovery">
                Discovery
              </a>
            </li>
          </ul>
        </div>
    <% end %>

    <% if policy(:navigation).any_administrator? %>
        <div>
          <a href="<%= app_deployer_path %>" class="prisme-link-button" onclick="polling.checkPolling(polling.pollEnum.DEPLOYER);" title="Deploy Applications">
            Application Deployer
          </a>
        </div>
    <% end %>

    <% if policy(:navigation).any_administrator? || policy(:navigation).can_get_vuids? %>
        <div class="dropdown" role="presentation">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Terminology">Terminology
            <span class="caret"></span></a>

          <ul class="dropdown-menu" aria-hidden="true" aria-label="Terminology Submenu">
            <% if policy(:navigation).any_administrator? %>
                <li role="menuitem">
                  <a href="<%= terminology_source_packages_path %>" onclick="polling.checkPolling(polling.pollEnum.TERM_SOURCE);" title="Source Package Upload">
                    Source Package Upload</a></li>
                <li role="menuitem">
                  <a href="<%= terminology_converter_path %>" onclick="polling.checkPolling(polling.pollEnum.CONVERTER);" title="Convert Terminology">
                    Convert Terminology</a></li>
                <li role="menuitem">
                  <a href="<%= terminology_db_builder_path %>" onclick="polling.checkPolling(polling.pollEnum.DB_BUILDER);" title="Database Builder">
                    Database Builder</a></li>
            <% end %>

            <% if policy(:navigation).can_get_vuids? %>
                <li role="menuitem">
                  <a href="<%= vuid_requests_path %>" onclick="polling.checkPolling(polling.pollEnum.VUID_REQUESTS);" title="VUID Server">
                    VUID Server</a></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if policy(:navigation).any_administrator? %>
        <div class="dropdown" role="presentation">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Administration">Administration
            <span class="caret"></span></a>

          <ul class="dropdown-menu" aria-hidden="true" aria-label="Administration Submenu">
            <li role="menuitem">
              <a href="<%= list_users_path %>" onclick="polling.checkPolling(polling.pollEnum.ADMIN_USER_EDIT);" title="Edit User Permissions">
                Edit User Permissions</a></li>
            <li role="menuitem">
              <a href="<%= services_path %>" onclick="polling.checkPolling(polling.pollEnum.SERVICES);" title="Service Provisioning">
                Service Provisioning</a></li>
          </ul>
        </div>
    <% end %>
  </div>

  <div class="prisme-navbar-tools" role="navigation">

    <div>
      <a href="#userid" class="prisme-link-button" id="userid" title="Current User">
        <div class="glyphicon glyphicon-user" title="Current User"></div>
        <%= raw (prisme_user.nil? ? '' : "&nbsp;#{prisme_user.user_name}") %>
      </a>
    </div>

    <div>
      <% if prisme_user.nil? %>
          <a href="<%= new_user_session_path %>" onclick="polling.checkPolling(polling.pollEnum.LOGIN);">Log in</a>
      <% else %>
          <% if prisme_user.is_a?(SsoiUser) %>
              <a href="<%= roles_sso_logout_path %>" onclick="polling.checkPolling(polling.pollEnum.LOGOUT);">SSO Log out</a>
          <% else %>
              <a href="<%= destroy_user_session_path %>" class="prisme-link-button" id="logout"
                 onclick="polling.checkPolling(polling.pollEnum.LOGOUT)" title="Logout">
                <div class="glyphicon glyphicon-log-out" title="Logout"></div>
                Logout
              </a>
          <% end %>
      <% end %>
    </div>
  </div>

</nav>

<% if controller.ssoi? %>
    <%= render 'session_timeout/session_timeout_notification' %>
<% end %>
